@using Newtonsoft.Json
@model CursoPuntoVenta.Models.Venta
<h1>Venta</h1>
<hr />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">
<div class="row">
    <div class="col-10">
        <form asp-action="Index" method="post" id="form1">
            @Html.ValidationSummary(false)
            <div class="form-group">
                <label>Folio</label>
                <input type="number" asp-for="Id" class="form-control col-1" />
            </div>
            <div class="form-group">
                <label asp-for="FechaVenta"></label>
                <input type="date" asp-for="FechaVenta" class="form-control col-3" />
            </div>
            <div class="form-group">
                <label>Empleado</label>
                <select asp-for="Id_empleado" asp-items="@((IEnumerable<SelectListItem>)ViewData["Empleados"])" class="form-control col-5">
                    <option value="">Selecciona un empleado</option>
                </select>
            </div>
            <input type="hidden" asp-for="id_cliente" value="@(ViewData["Cliente_Id"])" />
            <div class="form-group">
                <label>Cliente</label>
                <input type="text" class="form-control col-5" readonly="readonly" value="@(ViewData["Cliente_Nombre"])" />
            </div>
            <br />
            <div class="text-right">
                <button type="button" class="btn" id="btn_agregar_producto"><i class="bi bi-cart-plus" style="font-size:40px;"></i></button>
            </div>

            <table class="table table-bordered" id="tbl_lista_productos">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>                    
                </tbody>

            </table>

            <button type="submit" id="btn_terminar_venta">Terminar venta</button>

        </form>
    </div>
</div>
@section Scripts
{
    <script src="~/js/venta_scripts.js"></script>
    <script>
        var ProductosJson = @(Html.Raw(JsonConvert.SerializeObject(ViewData["Productos"])))
    </script>
}